MONGO_URI=mongodb+srv://yashvermadb:Yash%40123@cluster0.fkydmeh.mongodb.net/myDatabase?retryWrites=true&w=majority
JWT_SECRET=bookease_secret_2024
JWT_EXPIRES_IN=7d
PORT=5000
# EMAIL_USER=your@gmail.com
# EMAIL_PASS=your_gmail_app_password
# TWILIO_SID=your_twilio_sid
# TWILIO_AUTH=your_twilio_auth_token
# TWILIO_WHATSAPP=whatsapp:+14155238886
# BASE_URL=http://localhost:5000
# CLIENT_URL=http://localhost:3000
EMAIL_USER=yashkumar9638@gmail.com
EMAIL_PASS=ghoo buvm yozt dazh
TWILIO_SID=https://gate.whapi.cloud/
TWILIO_AUTH=tTeXi35sQyGjRLOJ79zv6831CJOtInVT
TWILIO_WHATSAPP=whatsapp:+14155238886
BASE_URL=http://localhost:5001
CLIENT_URL=http://localhost:3000
